.login-main-container{
    width: 100% !important;
    height: auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

}

.login-main-container img.logo{
    width: 150px;
}
/* 
.backstretch
{
    opacity: 0.2;
} */